<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Test Code App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">


</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>Test Code</h1>
			<p>This is a test code for Mohamad Abu Maraseh</p>
			<p>This is a test app to filter list of properties accourning to type and workflow This app
				has 3 methods.
				<h3>1) is alive method /isalive return "I'm alive :)"</h3>
				<h3>2)/filterProperties return propertiews with type "htv" and workflow "completed" and map properties to the required form.</h3>
				<h3>3)/filterProperties/type/workflow is genral filter method example /filterProperties/avm/completed /filterProperties/htb/pending</h3>

			</p>
		</div>
	</div>

</body>

</html>